@import url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,300;0,400;0,700;1,500&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

img {
  max-width: 100%;
}

body {
  font-family: "Poppins", sans-serif;
  font-size: 16px;
}
ul li {
  list-style: none;
}

nav a {
  text-decoration: none;
  font-size: 0.8rem;
}

.container {
  width: 100%;
  max-width: 1200px;
  margin: auto;
  padding: 1.5rem 2rem;
}

nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 0.5rem;
}

nav .nav-links {
  display: flex;
  justify-content: space-between;
}

nav .nav-links a {
  display: inline-block;
  padding: 1rem 0.5rem;
}

nav ul li a {
  text-decoration: none;
  font-size: 0.65rem;
}

header {
  padding: 3.5rem 0;
  text-align: center;
}

.content-article {
  background: #0e2c38;
  text-align: center;
  color: #fff;
  padding: 3.5rem 0;
}

.content-article h2 {
  padding: 1rem 0;
  font-size: 2rem;
}

.blog-heading {
  padding: 3.5rem 0;
  font-size: 2.5rem;
}

.blog-posts {
  padding-bottom: 1.5rem;
}

.blog-posts article {
  border: 1px solid #eaeaea;
  font-size: 1.2rem;
  padding: 0.5rem;
  text-align: center;
}

/* article + article {
  margin-left: 2.5rem;
} */

.footer-container {
  background: #062729;
  color: #fff;
  padding: 3.5rem 0;
}

.footer-container-signup {
  text-align: center;
}

.footer-container-signup form input {
  display: block;
  width: 100%;
  margin: 1rem 0;
  padding: 0.4rem 0;
}

.footer-container-signup form button {
  width: 100%;
  padding: 0.4rem 0;
  color: #fff;
  background-color: #15828a;
  border: 0;
  border-radius: 5px;
}

.footer-container-social {
  display: flex;
  justify-content: space-evenly;
}

@media only screen and (min-width: 750px) {
  nav a {
    font-size: 1.8rem;
  }

  nav ul li a {
    text-decoration: none;
    font-size: 1rem;
  }

  header {
    display: flex;
    justify-content: space-between;
    text-align: left;
    flex-basis: auto;
  }

  header .header-heading {
    padding: 5rem 0;
    width: 50%;
  }

  header .header-photo {
    width: 50%;
  }

  header .header-heading h1 {
    font-size: 3rem;
    padding-bottom: 1rem;
  }

  /* Blog */

  .blog-posts {
    display: flex;
  }

  article + article {
    margin-left: 2rem;
  }
  .blog-posts article {
    width: 33.33%;
  }

  .footer-container .container {
    display: flex;
    justify-content: space-between;
  }

  .footer-container form {
    display: flex;
    flex-flow: column;
  }

  .footer-container-social {
    flex-basis: 50%;
  }

  .icons i {
    padding-left: 1rem;
  }

  .footer-container-signup {
    flex-basis: 50%;
  }
  .footer-container-signup form input {
    display: inline;
    margin: 1rem 0;
    padding: 0.8rem 0.3rem;
  }

  .footer-container-signup form button {
    padding: 0.8rem 0;
    color: #fff;
  }
}
